<div id="starring_block" class="attendance_block">
    <h4>Starring (<em>in order of appearance</em>):</h4>
    
    <ul>
        {% for user in starring %}
            <li class="{{ user.position }} {{ user.name }}">{{ user.display_name }} ({{ user.lines }} lines)</li>
        {% endfor %}
    </ul>
</div>